{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catch!</title>
    <link href="{% static 'image/Logo-96x96.png' %}" sizes="96x96" rel="shortcut icon" type="image/png">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <link rel="stylesheet" href="{% static 'css/mypage.css'%}">
    <link rel="stylesheet" href="{% static 'css/global.css'%}">
    <link rel="stylesheet" href="{% static 'css/custom.css'%}">
</head>

<body>
    
    <!-- header -->
    {% include "user/header.html" %}
<main>
    <div id="wrap">
        <div id="container">
            <div id="contents">
                <div class="sub_page">
                    <div class="inner_box">
                        <aside class="side_bar" style="top: 0px;">
                        <div class="profile_box">
                            <div class="photo">
                                <img class="loginUser_userImg" src="{{request.session.img}}" id="user_img"  alt="" onerror="this.onerror=null; this.src='image/user.jpg';" >
                            </div>
                            <p class="nickname">
                                닉네임
                            </p>
                            <p class="mail">
                                이메일
                            </p>
                            <div class="btn_box" style="margin-bottom:20px;">
                                <span class="btn_23" style="width:42px;">멘토</span> <span class="btn_23" style="width:42px;">멘티</span>
                            </div>
                            <div class="previewProfile" onclick="previewProfile('def903c19fa01b914a23da38d8b43a20');">
                                <span class="name" style="cursor:pointer;">멘티가 보는 내 프로필 보기</span>
                            </div>
                        </div>
                        <nav class="menu">
                        <ul>
                            <li data-type="mento" class="on"><a href="javascript:void(0);" id="moveMyInfo">학력정보관리</a></li>
                            <li data-type="mento"><a href="javascript:void(0);" id="profileInfo">프로필</a></li>
                            <li data-type="mento"><a href="javascript:void(0);" id="moveWithdraw">컨텐츠 | 컨텐츠</a></li>
                            <li><a href="javascript:void(0);" id="serviceGuide">컨텐츠</a></li>
                            <li><a href="javascript:void(0);" id="moveNotice">컨텐츠</a></li>
                            <li style="border-bottom:1px solid #f0f0f0;padding-bottom:5px;"><a href="javascript:void(0);" id="moveCustomerCenter">컨텐츠 | 컨텐츠</a></li>       
                            <li data-type="integration" class="interMem"><a href="javascript:void(0);" id="moveMembership">회원탈퇴</a></li>
                        </ul>
                        </nav>
                        </aside>
                        <section class="cont">
                            <div class="sub_certify">
                                <h2 class="tit_22 mb40">인증</h2>
                                <div class="it_box">
                                    <p class="name" style="top:0px;">대학교 학력 인증</p>
                                    <div class="img_box imgN">
                                        <div class="it_file" style="cursor: pointer">
                                            <span class="ico" id="div"></span>
                                            <span class="txt" id="div2">등록된 이미지가 없습니다.</span>
                                            <input type="file" accept="image/gif, image/jpeg, image/png" id="fileUpload">
                                            <span class="img"><img src="" id="img" alt="" style="display: block;cursor: pointer"></span>
                                        </div>
                                        
                                    </div>
                                    
                                </div>

                                <p class="txt_box">
                                    - 재학 증명은 '합격증', '학생증', '재학증명서' 등, 졸업 증명은 '졸업증명서' 등이 필요합니다. <br>
                                    - 인증하신 정보는 사실여부 확인용도로 사용되며, 외부에 노출되지 않습니다. <br>
                                    - 관련 없는 이미지를 등록하시면 서비스 이용에 불이익을 받으실 수 있습니다. <br>
                                    <span style="color:red;">- 학생증에 카드번호가 있는 경우 카드번호만 지우실 수 있습니다.</span>
                                </p>
                            </div>
                            <div class="both_area">
                                <div class="fl_r">
                                    <a href={% url 'mypage' %} class="btn_48 mr5" style="width:80px;" id="certifyCancel">취소</a>
                                    <a href="#self" class="btn_48 btn_disabled" style="width:180px;" id="certifySave">저장하기</a>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
            <!-- id : contents -->
        </div>
        <!-- id : container -->
    </div>

</main>
</body>


 <!-- Javascript -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script>
        const fileInput = document.getElementById("fileUpload");
        const div = document.getElementById('div');
        const div2 = document.getElementById('div2');

        const handleFiles = (e) => {
          const selectedFile = [...fileInput.files];
          const fileReader = new FileReader();
        
          fileReader.readAsDataURL(selectedFile[0]);
          fileReader.onload = function () {
            document.getElementById("img").src = fileReader.result;
            div.remove();
            div2.remove();
          };
        };
        
        fileInput.addEventListener("change", handleFiles);
    </script>
</html>